
@media screen and (max-width:1140px) {
    .films__wrap{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .collections__wrap{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .series__thrones{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .thrones__content{
        padding: 15px 0;
    }
    .series__wrap{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .trailer__post{
        width: 100%;
    }
}

@media screen and (max-width:640px) {
    .banner__h{
        font-size: 47px;
    }
    .footer__wrap{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}


@media screen and (max-width:568px) {
    .header__wrap{
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width:470px) {
    .banner__h{
        font-size: 33px;
    }
    .banner__p{
        font-size: 14px;
    }
    .banner__links{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .thrones__h{
    font-size: 32px;
    line-height: 40px;
    
        
    }
}

@media screen and (max-width:360px) {
    .banner__h{
        font-size: 28px;
        line-height: 30px;
    }
    .footer__h{
    font-size: 16px;
        
    }
}